.login {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .guideLine {
    border: 0.3vh solid rgb(219, 219, 219);
    text-shadow: 10px;
    header {
      text-align: center;

      .logo {
        display: flex;
        justify-content: center;
        font-family: 'Lobster', cursive;
        font-size: 10vh;
        font-weight: lighter;
        margin: 5vh;
      }
    }
    section {
      text-align: center;
      .login-id {
        font-size: 1.5vh;
        border-radius: 5px;
        border: 1px solid #bbb;
        width: 400px;
        margin: 10px;
        padding: 15px;
        outline: none;
      }
      .login-pwd {
        font-size: 1.5vh;
        border-radius: 5px;
        border: 1px solid #bbb;
        width: 400px;
        margin: 10px;
        padding: 15px;
        outline: none;
      }
      .login-btn {
        font-size: 2vh;
        text-align: center;
        color: white;
        background-color: rgba(71, 71, 201, 0.74);
        border-radius: 15px;
        width: 400px;
        margin: 10px;
        padding: 15px;
        border: white;
        opacity: 1;
        &:hover {
          cursor: pointer;
        }
        &:disabled {
          font-size: 2vh;
          text-align: center;
          color: white;
          background-color: rgba(71, 71, 201, 0.74);
          border-radius: 15px;
          width: 400px;
          margin: 10px;
          padding: 15px;
          border: white;
          opacity: 0.35;
        }
        &:disabled:hover {
          cursor: default;
        }
      }
    }
    footer {
      text-align: center;
      margin: 50px;
      a {
        text-decoration: none;
      }
    }
  }
}
