@import '../../../styles/kangchulcommon/profile_img.scss';
@import '../../../styles/kangchulcommon/kangchulcommon.scss';
@import '../../../styles/kangchulcommon/kangchulvariables.scss';
@import '../../../styles/kangchulcommon/kangchulmixin.scss';

@import 'main_header.scss';
@import 'main_navbar.scss';
@import 'main_main.scss';

@media (max-width: 750px) {
  .profile__img--border {
    width: 130px;
    height: 130px;
    margin-right: 50px;
    background: linear-gradient(45deg, Violet, Orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile__img--inside {
      width: 120px;
      height: 120px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .profile__img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        background: center/cover no-repeat
          url('../../../assets/images/kangchul/profile.jpeg');
      }
    }
  }

  .user__box {
    display: block;

    .user__id {
      margin-bottom: 20px;
      text-overflow: ellipsis;
    }
  }

  .post {
    margin: 3px;
  }

  .user__capacity {
    display: none;
  }

  .user__capacity--query {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .user__capacity--list span {
      font-size: 13px;
      display: block;
      margin: 4px 61px;
      text-align: center;

      &:first-child {
        color: gray;
      }
    }
  }
}

@media (max-width: 720px) {
  .search__bar {
    display: none;
  }
}
